@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  @apply h-screen w-screen flex flex-col justify-start items-center gap-4 p-4 bg-pink
}
.heading{
  @apply text-black font-bold text-4xl h-[8%] flex justify-center items-center
}
.content{
  @apply h-[90%] w-full flex flex-col justify-start items-center gap-4
}
form{
  @apply h-full w-full md:w-1/2 flex flex-col gap-4 justify-start
}
.select-container{
  @apply flex flex-col gap-2 border border-orange rounded p-2
}
form input{
  @apply rounded-md px-2 outline-none h-[35px] font-bold
}
form label{
  @apply font-bold
}
.icon-container{
  @apply flex justify-between items-center h-[60px] w-full gap-2
}
.icon{
  @apply bg-red w-1/2 rounded h-[35px] text-2xl font-bold text-orange cursor-pointer
}
.primary{
  @apply bg-red text-white rounded-lg px-4 py-2 w-full
}
.primary:disabled{
  @apply bg-gray
}
.secondry{
  @apply absolute bottom-2 border-2 border-red rounded-md p-2 font-bold
}
.player-info{
 @apply  flex flex-col justify-evenly items-center w-[45%] border border-orange rounded-xl bg-white h-3/4 font-bold px-2 relative
}
.player-info span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.row:not(:last-child){
  border-bottom: 5px dashed rgba(0, 0, 255, 0.489);
}
.number:not(:last-child){
  border-right: 5px dashed rgba(0, 0, 255, 0.489);
}

@keyframes drawX {
  to {
    stroke-dashoffset: 0;
  }
}

.drawing-animation {
  width: 100%;
  aspect-ratio: 1/1;
}

.letter-x {
  stroke: #f8b630;
  stroke-width: 6;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
}
.letter-o {
  fill: none;
  stroke: #f8b630;
  stroke-width: 6;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
}
